node_modules
README.md
LICENSE
dist
.git
.env
.env.local
.env.staging
scripts/
e2e/
crm system/
.vscode
.github
playwright.config.ts
drizzle-dev.config.ts
docker-compose.yml
.eslintrc.cjs
.editorconfig
.prettierrc
Dockerfile
.DS_Store
.gitignore
.npmrc
